<template>
  <div class="main">
    <div class="container">
      <svg id="svg-rectangle"></svg>
    </div>
  </div>

</template>

<script>
import Snap from 'snapsvg-cjs'

export default {
  name: 'Main',
  data () {
    return {
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.draw()
    })
  },
  methods: {
    draw () {
      var isAvaiableA = true
      var isAvaiableB = true
      var isAvaiableC = true
      var isAvaiableD = true

      var svgR = Snap('#svg-rectangle').attr({'width': '800', 'height': '800'})
      var rectA = svgR.rect(200, 200, 200, 200).attr({'fill': 'yellow'})
      var rectB = svgR.rect(400, 200, 200, 200).attr({'fill': 'lightblue'})
      var rectC = svgR.rect(200, 400, 200, 200).attr({'fill': 'lightgreen'})
      var rectD = svgR.rect(400, 400, 200, 200).attr({'fill': 'orchid'})
      svgR.group(rectA, rectB, rectC, rectD)

      var circle1 = svgR.circle(50, 50, 50).attr({'id': 'circle1', 'fill': 'yellow', 'stroke': 'gray'})
      var circle2 = svgR.circle(750, 50, 50).attr({'id': 'circle2', 'fill': 'lightblue', 'stroke': 'gray'})
      var circle3 = svgR.circle(50, 750, 50).attr({'id': 'circle3', 'fill': 'lightgreen', 'stroke': 'gray'})
      var circle4 = svgR.circle(750, 750, 50).attr({'id': 'circle4', 'fill': 'orchid', 'stroke': 'gray'})

      var move = function (dx, dy) {
        this.attr({
          transform: this.data('origTransform') + (this.data('origTransform') ? 'T' : 't') + [dx, dy]
        })
      }
      var start = function () {
        this.data('origTransform', this.transform().local)
      }
      var stop1 = function () {
        if (this.getBBox().cx > 150 && this.getBBox().cx < 400 && this.getBBox().cy > 150 && this.getBBox().cy < 350) {
          if (isAvaiableA) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '250,250'}, 1000)
            circle1.undrag()
            svgR.group(rectA, circle1)
            isAvaiableA = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        }
        if (this.getBBox().cx >= 400 && this.getBBox().cx < 650 && this.getBBox().cy > 150 && this.getBBox().cy < 350) {
          if (isAvaiableB) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '450,250'}, 1000)
            circle1.undrag()
            svgR.group(rectB, circle1)
            isAvaiableB = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx < 650 && this.getBBox().cy >= 350 && this.getBBox().cy < 650) {
          this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
        }
      }
      var stop2 = function () {
        if (this.getBBox().cx > 400 && this.getBBox().cx < 650 && this.getBBox().cy > 150 && this.getBBox().cy < 350) {
          if (isAvaiableB) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '-250,250'}, 1000)
            circle2.undrag()
            svgR.group(rectB, circle2)
            isAvaiableB = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx <= 400 && this.getBBox().cy > 150 && this.getBBox().cy < 350) {
          if (isAvaiableA) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '-450,250'}, 1000)
            circle2.undrag()
            svgR.group(rectA, circle2)
            isAvaiableA = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx < 650 && this.getBBox().cy >= 350 && this.getBBox().cy < 650) {
          this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
        }
      }
      var stop3 = function () {
        if (this.getBBox().cx > 150 && this.getBBox().cx < 400 && this.getBBox().cy > 450 && this.getBBox().cy < 650) {
          if (isAvaiableC) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '250,-250'}, 1000)
            circle3.undrag()
            svgR.group(rectC, circle3)
            isAvaiableC = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        }
        if (this.getBBox().cx >= 400 && this.getBBox().cx < 650 && this.getBBox().cy > 450 && this.getBBox().cy < 650) {
          if (isAvaiableD) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '450,-250'}, 1000)
            circle3.undrag()
            svgR.group(rectD, circle3)
            isAvaiableD = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx < 650 && this.getBBox().cy > 150 && this.getBBox().cy <= 450) {
          this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
        }
      }
      var stop4 = function () {
        if (this.getBBox().cx > 400 && this.getBBox().cx < 650 && this.getBBox().cy > 450 && this.getBBox().cy < 650) {
          if (isAvaiableD) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '-250,-250'}, 1000)
            circle4.undrag()
            svgR.group(rectD, circle4)
            isAvaiableD = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx <= 400 && this.getBBox().cy > 450 && this.getBBox().cy < 650) {
          if (isAvaiableC) {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '-450,-250'}, 1000)
            circle4.undrag()
            svgR.group(rectC, circle4)
            isAvaiableC = false
          } else {
            this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
          }
        } else if (this.getBBox().cx > 150 && this.getBBox().cx < 650 && this.getBBox().cy >= 150 && this.getBBox().cy < 450) {
          this.animate({transform: (this.data('origTransform') ? 'T' : 't') + '0,0'}, 1000)
        }
      }

      circle1.drag(move, start, stop1)
      circle2.drag(move, start, stop2)
      circle3.drag(move, start, stop3)
      circle4.drag(move, start, stop4)
    }
  }
}
</script>

<style scoped>
.container {
  max-width: 800px;
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
</style>
